*.pyc
.*
!.gitignore
tmp/
sftp-config.json
simrank_contributions_results_*.csv
data
weighted_data
kmeans_contributions_*_out.txt
node2vec/contribution_*.txt
node2vec/old_graph
node2vec/unweighted_graph
node2vec/weighted_graph
node2vec/tripartite_edgelists
node2vec/*.png
voting_edgelists*
node2vec/voting_feature/
node2vec/old_tripartite_feature/
node2vec/tripartite_feature/
node2vec/weighted_graph_old/
