*.pyc
.*
!.gitignore
tmp/
sftp-config.json
simrank_contributions_results_*.csv
data
weighted_data
kmeans_contributions_*_out.txt
node2vec/contribution_*.txt
node2vec/old_graph
node2vec/unweighted_graph
node2vec/weighted_graph
node2vec/tripartite_edgelists
*.png